@import "{}/client/styles/variables.scss";
@import "{}/client/styles/mixins.scss";
@import "{poetic:materialize-scss}/sass/materialize.scss";

$smartphone:	"(max-width: 480px)";
$phablet:		"(min-width: 481px) and (max-width: 767px)";
$tablet: 		"(min-width: 768px) and (max-width: 1023px)";
$desktop: 		"(min-width: 1024px)";

body {
    font-family: Roboto, sans-serif;
    background-color: $brand-primary;
    color: white;
	.media-object {width: 100%; height: auto;}
	.media-body {float: left; }
	.media {width: 100%; }
	.media-heading {padding-top: 10px; }
	ul {list-style-type: none; padding-left: none; }
	li {padding-left: none; }

}

.btn i {
	font-size: 1rem !important;
}

// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Danger and error appear as red
.btn-success {
	margin-top: 15px;
 	@include button-variant(white, $brand-primary, white);
}

//upload plugin
.upload-control, .progress-bar-success {
	height: 45px;
	line-height: 2.5;

	@media #{$smartphone} {
		font-size: 10px;
		padding: 0;
	}
}

.joyces {

	&__logo {
		margin: 1rem auto 0;
		width: 20%;

		@media #{$smartphone} {
			width: 75%;
		}

	}

	input[type=text].valid {
		border-bottom: 1px solid $brand-primary;
	}

}

.expand-transition {
  transition: all .35s ease-in-out;
  padding: 10px;
  height: auto;
  color: white;
  background-color: $brand-danger;
  overflow: hidden;
  top: -15px;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
	transition: all 1s ease-in-out;
	height: 0;
	opacity: 0;
}


.fade-transition {
	transition: all .35s ease-in-out;
	padding: 10px;
	height: auto;
	color: $brand-font-color;
	background-color: rgba(255,255,255,.9);
	top: 35px;
	position: absolute;
	width: 97%;
	z-index: 7;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.fade-enter, .fade-leave {
	transition: all .35s ease-in-out;
	height: 0;
	opacity: 0;
}


.fadeplus-transition {
	transition: all .35s ease-in-out;
	padding: 10px 0;
	color: $brand-font-color;
  	height: auto;
  	overflow: hidden;
  	width: 100%;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.fadeplus-enter, .fadeplus-leave {
	transition: all .35s ease-in-out;
	height: 0;
	opacity: 0;
}

.fa-plus-circle {
	color: $brand-danger;
	line-height: 0.8;
	cursor: pointer;
}

.ql {
	&__header {
		font-size: 1.2rem;
		background-color: rgba(255,255,255,.6);
		padding: 10px 15px;
		color: $brand-font-color;
		transition: all 0.35s ease-in-out;
		border-bottom: 1px solid lightgrey;
		box-shadow:  0px 4px 7px 0px rgba(158, 152, 158, 0.8);
	}

	&__image {
		position: relative;

		img {
			max-height: 300px;
			min-height: 300px;
		    width: 100%;
    		object-fit: cover;
		}

		&-voting {
			position: absolute;
			top: 250px;
			left: 20px;
		}

		&-question {
			background: white;
			color: $brand-font-color;
			padding: 10px 15px;
			border-bottom: 1px solid lightgrey;
			box-shadow:  0px 3px 6px 0px rgba(158, 152, 158, 0.3);
			position: relative;
			z-index: 77;
		}
	}

}

.qd {
	&__go-back {
		position: absolute;
		top: 10px;
		left: 10px;
	}

	&__question {
		position: absolute;
		bottom: 0;
		padding: 10px 15px;
		background: white;
		color: $brand-font-color;
		width: 100%;
		z-index: 7
	}
}

//question summery

.qs {

	&__wrapper {
		background: $brand-danger;
		position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;

	    &-link, &-link:hover {
	    	color: white;
	    }
	}

}

//uploaded images
.ui {

	&__wrapper {
		position: relative;

		img {
			width: 100%;
			object-fit: cover;
			z-index: 5;
		}

		&-voices {
			width: 100%;
			position: absolute;
			background: rgba(211, 84, 96,.6);
			bottom: 0;
			max-height: 50%;
			min-height: 30px;

			&__counter {
				color: $brand-font-color;
				text-align: center;
				padding: 5px 0;
			}
		}

	}

}