@import "{}/client/styles/variables.scss";
@import "{poetic:materialize-scss}/sass/materialize.scss";

body {

	.media-object {width: 100%; height: auto;}
	.media-body {float: left; }
	.media {width: 100%; }
	.media-heading {padding-top: 10px; }
	ul {list-style-type: none; padding-left: none; }
	li {padding-left: none; }

}

