@import "{}/client/styles/variables.scss";
@import "{}/client/styles/mixins.scss";
@import "{poetic:materialize-scss}/sass/materialize.scss";

$smartphone:	"(max-width: 480px)";
$phablet:		"(min-width: 481px) and (max-width: 767px)";
$tablet: 		"(min-width: 768px) and (max-width: 1023px)";
$desktop: 		"(min-width: 1024px)";

body {
    font-family: Roboto, sans-serif;
    background-color: $brand-primary;
    color: white;
	.media-object {width: 100%; height: auto;}
	.media-body {float: left; }
	.media {width: 100%; }
	.media-heading {padding-top: 10px; }
	ul {list-style-type: none; padding-left: none; }
	li {padding-left: none; }

}

.btn i {
	font-size: 1rem !important;
}

// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


.jo {

	&__logo {
		margin: 1rem auto 0;
		width: 20%;

		@media #{$smartphone} {
			width: 75%;
		}

	}

}


.expand-transition {
  transition: all .3s ease;
  height: 30px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}