@mixin button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border) {
  color: $btn-danger-color;
  background-color: $btn-danger-bg;
  border-color: $btn-danger-border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $btn-danger-color;
    background-color: lighten($btn-danger-bg, 5%);
    border-color: lighten($btn-danger-border, 7%);
  }
}