<template name="question_detail">

  <div id="question_detail" >
	<a v-on:click="goIndex" class="waves-effect waves-light btn btn-danger qd__go-back"><i class="fa fa-caret-left fa-fw"></i>GO BACK</a>
  	<div class="qd__question">
  		<i class="fa fa-user fa-fw"></i> [[question.title]]
  	</div>

	
	

  </div>             


  <div id="upload_images" class="ui__wrapper" v-for="upload in uploads" v-cloak>
	<div class="ui__wrapper-voices" v-bind:style="{ height: (imageHeight/100)*upload.voices+'px' }">
		<div class="ui__wrapper-voices__counter"> <i class="fa fa-thumbs-o-up"></i> [[upload.voices]]
			<!-- <span v-show="[[upload.voicesTogether]] != null">
				[[ ((upload.voices/upload.voicesTogether)*100) ]]
			</span> -->
		</div>
	</div>
    <img v-on:click="voting(upload._id, upload.voices)" v-bind:src="upload.url" v-bind:style="{ height: imageHeight+'px' }">
  </div>

</template>



<template name="detail">
        <!--header-->
        {{> Template.dynamic template=top}}

        <!--main-->
        {{> Template.dynamic template=content}}
</template>