<template name="questions_summary">

  <div class="qs__wrapper">
  	<div class="container-fluid">
  		<div class="row">
			<div class="pull-right">
				<a class="qs__wrapper-link" v-on:click="goIndex"><i class="fa fa-times fa-2x"></i></a>
			</div>
  		</div>
  		<div class="row">
  			<div class="text-center"><i class="medium material-icons">done</i></div>
  		</div>
  		<div class="row">
  			<h5 class="text-center">Your question was succesfully created!</h5>
  		</div>


  		<div class="row">
  			<p>Share Link:</p>
  		
  			<span><i class="fa fa-facebook-square fa-fw fa-2x"></i></span>
  			<span><i class="fa fa-pinterest-square fa-fw fa-2x"></i></span>
  			<span><i class="fa fa-google-plus-square fa-fw fa-2x"></i></span>
  			<span><i class="fa fa-twitter-square fa-fw fa-2x"></i></span>
  			<span><i class="fa fa-instagram fa-fw fa-2x"></i></span>
  		</div>                

  		<div class="row">
  			<div class="text-center">
          <a href="/question/[[question._id]]" class="waves-effect waves-light btn btn-success">SHOW MY QUESTION</a>
  			</div>
  		</div>
</div>
</div>
</template>