<template name="question_detail">

  <a href="/" class="waves-effect waves-light btn btn-danger qd__go-back"><i class="fa fa-caret-left fa-fw"></i>GO BACK</a>

  <div id="question_detail" class="qd__question"><i class="fa fa-user fa-fw"></i> [[question.title]]</div>             


  <div id="upload_images" class="ui__wrapper" v-for="upload in uploads" v-cloak>
    <img v-bind:src="upload.url">
  </div> 

</template>



<template name="detail">
        <!--header-->
        {{> Template.dynamic template=top}}

        <!--main-->
        {{> Template.dynamic template=content}}
</template>